<div id="container1" class="my-10 flex mx-auto w-[800px] h-[300px] justify-center relative">
	<div id="inputLegend" class="absolute left-0 transform -top-2 z-10 text-sm font-sans font-light text-white"></div>
</div>
<div id="container2" class="flex mx-auto w-[800px] h-[300px] justify-center relative">
	<div id="outputLegend" class="absolute left-0 transform -top-2 z-10 text-sm font-sans font-light text-white"></div>
</div>

<script type="module">
import { createChart } from '/node_modules/lightweight-charts';
import db from '/src/signals/db.js';

async function getDataFromIndexedDB() {
	const inputSignal = [];
	const outputSignal = [];

	const data = await db.signals.toArray();
	data.forEach((row) => {
		outputSignal.push({
			time: parseFloat(row.Freq),
			value: parseFloat(row["re(FFT)"]),
		});
		inputSignal.push({
			time: parseFloat(row.input),
			value: parseFloat(row["re(signal)"]),
		});
	});

	const outputSignalSliced = outputSignal.slice(
		outputSignal.length / 4,
		outputSignal.length - outputSignal.length / 4
  	);

  	return {
        inputSignal,
        outputSignal,
		outputSignalSliced
	};
}

const { inputSignal, outputSignalSliced } = await getDataFromIndexedDB();
console.log("inputSignal", inputSignal);
console.log("outputSignalSliced", outputSignalSliced);

const inputExpression = "f(t)"
const outputExpression = "re(FFT(f(t)))"

const chartOptions = {
  width: 800,
  height: 300,
	layout: {
		textColor: 'white',
		background: { color: '#13151a' },
		attributionLogo: false,
	},
};
const optionsToApply = {
	rightPriceScale: {
		scaleMargins: {
			top: 0.4, // leave some space for the legend
			bottom: 0.15,
		},
	},
	crosshair: {
		// hide the horizontal crosshair line
		horzLine: {
			visible: false,
			labelVisible: false,
		},
	},
	// hide the grid lines
	grid: {
		vertLines: {
			visible: false,
		},
		horzLines: {
			visible: false,
		},
	},
}

const inputChart = createChart(document.getElementById('container1'), chartOptions);

inputChart.applyOptions(optionsToApply)

const inputAreaSeries = inputChart.addAreaSeries({
	topColor: '#d5b8f9',
	bottomColor: 'rgba(213, 184, 249, 0.5)',
	lineColor: '#d5b8f9',
	lineWidth: 2,
	priceLineVisible: false,
});
inputAreaSeries.setData(inputSignal);

const outputChart = createChart(document.getElementById('container2'), chartOptions);

outputChart.applyOptions(optionsToApply);

const outputAreaSeries = outputChart.addAreaSeries({
	topColor: '#d5b8f9',
	bottomColor: 'rgba(143, 67, 234, 0.33)',
	lineColor: '#d5b8f9',
	lineWidth: 2,
	priceLineVisible: false,
});

outputAreaSeries.setData(outputSignalSliced);

let inputSymbolName = inputExpression
const inputLegend = document.getElementById('inputLegend')

const getLastBar = series => {
	const lastIndex = series.dataByIndex(Infinity, -1);
	return series.dataByIndex(lastIndex);
};
const formatPrice = price => (Math.round(price * 100) / 100).toFixed(2);

const inputSetTooltipHtml = (name, time, value) => {
	inputLegend.innerHTML = `
		<div class="text-lg my-0">${name}</div>
    	<div class="text-base my-0">${value}</div>
    	<div class="text-sm my-0">${time}</div>
	`;
};

const inputUpdateLegend = param => {
	const validCrosshairPoint = !(
		param === undefined || param.time === undefined || param.point.x < 0 || param.point.y < 0
	);
	const bar = validCrosshairPoint ? param.seriesData.get(inputAreaSeries) : getLastBar(inputAreaSeries);
	// time is in the same format that you supplied to the setData method,
	// which in this case is YYYY-MM-DD
	const time = bar.time;
	const price = bar.value !== undefined ? bar.value : bar.close;
	const formattedPrice = formatPrice(price);
	inputSetTooltipHtml(inputSymbolName, time, formattedPrice);
};


let outputSymbolName = outputExpression
const outputLegend = document.getElementById('outputLegend')

const outputSetTooltipHtml = (name, time, value) => {
	outputLegend.innerHTML = `
		<div class="text-lg my-0">${name}</div>
    	<div class="text-base my-0">${value}</div>
    	<div class="text-sm my-0">${time}</div>
	`;
};

const outputUpdateLegend = param => {
	const validCrosshairPoint = !(
		param === undefined || param.time === undefined || param.point.x < 0 || param.point.y < 0
	);
	const bar = validCrosshairPoint ? param.seriesData.get(outputAreaSeries) : getLastBar(outputAreaSeries);
	// time is in the same format that you supplied to the setData method,
	// which in this case is YYYY-MM-DD
	const time = bar.time;
	const price = bar.value !== undefined ? bar.value : bar.close;
	const formattedPrice = formatPrice(price);
	outputSetTooltipHtml(outputSymbolName, time, formattedPrice);
};


inputChart.subscribeCrosshairMove(inputUpdateLegend);
outputChart.subscribeCrosshairMove(outputUpdateLegend);

inputUpdateLegend(undefined);
outputUpdateLegend(undefined);

async function updateChartData(signalName = {}) {
	const { a, b, signalShape, amplitude, frequency, phase, interval } = signalName;
	
	const formatters = {
		square: ({ amplitude, frequency }) =>
			`f(t) = ${amplitude}⋅⎍((1/${frequency})⋅t)`,
		exp: ({ amplitude }) =>
			`f(t) = ${amplitude}⋅exp(t)`
	};

	// Use the formatter if available; otherwise fallback to the default formatter.
	inputSymbolName = formatters[signalShape]
		? formatters[signalShape]({ amplitude, frequency })
		: `f(t) = ${amplitude}⋅${signalShape}(2π⋅${frequency}⋅t + ${phase})`;

	outputSymbolName = `re(FFT(f(t)))`;
	console.log("Updating chart data");
    const { inputSignal, outputSignalSliced } = await getDataFromIndexedDB();
	inputAreaSeries.setData(inputSignal);
    outputAreaSeries.setData(outputSignalSliced);
    inputUpdateLegend(undefined);
    outputUpdateLegend(undefined);
}

// Expose the updateChartData function to the window
window.updateChartData = updateChartData;


inputChart.timeScale().applyOptions({
	minBarSpacing: 0.1,
	fixLeftEdge: true,
	fixRightEdge: true,
	timeVisible: true,
})

outputChart.timeScale().applyOptions({
	minBarSpacing: 0.1,
	fixLeftEdge: true,
	fixRightEdge: true,
	timeVisible: true,
})

inputChart.timeScale().fitContent();
outputChart.timeScale().fitContent();

</script>
